<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Редактировать категорию</h3>
        </div>
    </div>
    <div class="card-block">
        <div 
            class="alert alert-{{message.type}}"
            *ngIf="message.text"
        >
            {{ message.text }}
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <label class="control-label" for="e-select-category">Select a category</label>
                <select 
                    class="form-control" 
                    id="e-select-category"
                    [(ngModel)]="currentCategoryId"
                    (change)="onCategoryChange()"
                    [ngModelOptions]="{standalone: true}"
                >
                    <option 
                    *ngFor="let c of categories"
                    [value]="c.id">
                        {{ c.name }}
                    </option>
                </select>
            </div>
            <div 
                class="form-group"
                [ngClass]="{'has-error' : name.invalid && name.touched}"
                >
                <label class="control-label" for="у-category-name">Введите название</label>
                <input 
                    type="text" 
                    id="e-category-name" 
                    class="form-control"
                    required
                    #name="ngModel"
                    name="name"
                    [ngModel]="currentCategory.name"
                >
                <span   
                    class="form-help-text"
                    *ngIf="name.invalid && name.touched">Category name can't be empty.</span>
            </div>
            <div 
                class="form-group"
                [ngClass]="{'has-error' : capacity.invalid && capacity.touched}"
            >
                <label class="control-label" for="e-category-value">Введите лимит</label>
                <input 
                    type="number" 
                    id="e-category-value" 
                    class="form-control"
                    #capacity="ngModel"
                    name="capacity"
                    [ngModel]="currentCategory.capacity"
                    required
                    min="1"
                >
                <span 
                    class="form-help-text"
                    *ngIf="capacity.invalid && capacity.touched">Field can't be empty</span>
            </div>
            <button 
                type="submit"  
                class="btn btn-primary"
                [disabled]="f.invalid"
            >
                Изменить
            </button>
        </form>
    </div>
</div>