<div class="title-block">
    <h3 class="title pull-left">
        Страница истории <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
          <i class="fa fa-filter"></i>
        </button>
      </div>
</div>

<section *ngIf="!isLoaded">
    <wfm-lodaer></wfm-lodaer>
</section>

<section *ngIf="isLoaded">
    <wfm-history-chart [data]="chartData"></wfm-history-chart>

    <wfm-history-events [events]="filteredEvents" [categories]="categories"></wfm-history-events>
    
    <div *ngIf="isFilterVisible">
        <wfm-history-filter
            (onFilterApply)="onFilterApply($event)"
            (onFilterCancel)="onFilterCancel()"
            [categories]="categories"
        ></wfm-history-filter>
    </div>
</section>
