<div class="title-block">
    <h3 class="title pull-left">
        Страница счета <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
      <button class="btn-sm btn btn-primary-outline" (click)="OnRefresh()">
        <i class="fa fa-refresh" ></i>
      </button>
    </div>
</div>
<section class="section">
    <div 
      class="row"
      *ngIf="!isLoaded"
    >
      <wfm-lodaer></wfm-lodaer>
    </div>
    <div 
      class="row"
      *ngIf="isLoaded"
      >
        <wfm-bill-card [bill]="bill" [currency]="currency"></wfm-bill-card>

        <wfm-currency-card [currency]="currency"></wfm-currency-card>

    </div>
</section>